<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ProjectConfiguration>
<!-- Written by CDPStudio 2.0.2, 2020-08-23T23:47:24. -->
<qtcreator>
 <data>
  <variable>ProjectManagerSettings</variable>
  <valuemap type="QVariantMap">
   <valuemap type="QVariantMap" key="ApplicationSettings">
    <value type="QString" key="DeployDirectory"></value>
    <value type="QString" key="DeviceId">192.168.1.179BrewingCabinetens33</value>
    <value type="QString" key="TargetFriendlyName">Raspbian ARMv6 32bit</value>
   </valuemap>
  </valuemap>
 </data>
</qtcreator>
